In [17]:
import pandas as pd

patient_dim = pd.read_csv("data/patient_dim.csv")
physician_dim = pd.read_csv("data/physician_dim.csv")
department_dim = pd.read_csv("data/department_dim.csv")
date_dim = pd.read_csv("data/date_dim.csv")
treatment_dim = pd.read_csv("data/treatment_dim.csv")
diagnosis_dim = pd.read_csv("data/diagnosis_dim.csv")
medical_visit_fact = pd.read_csv("data/medical_visit_fact.csv")

# Number 1: Dimensional Tables in python. explore the tables and graph related to the said tables. (20 points)

In [18]:
# Display the first few rows of each DataFrame to understand their structure
print("Patient Dimension:")
print(patient_dim.head())

print("\nPhysician Dimension:")
print(physician_dim.head())

print("\nDepartment Dimension:")
print(department_dim.head())

print("\nDate Dimension:")
print(date_dim.head())

print("\nTreatment Dimension:")
print(treatment_dim.head())

print("\nDiagnosis Dimension:")
print(diagnosis_dim.head())

print("\nMedical Visit Fact Table:")
print(medical_visit_fact.head())

Patient Dimension:
   Unnamed: 0  Patient_ID     Patient_Name        Address         City  \
0           0           1         John Doe   123 Maple St  Los Angeles
1           1           2       Jane Smith    456 Oak Ave     New York
2           2           3  Michael Johnson  789 Pine Blvd      Chicago
3           3           4      Emily Davis   321 Cedar Ln      Houston
4           4           5     David Wilson   654 Birch Dr        Miami

        State Country                   Email  Phone_Number Date_Of_Birth  \
0  California     USA    john.doe@example.com  555-123-4567    1980-01-15
1    New York     USA  jane.smith@example.com  555-234-5678    1975-02-20
2    Illinois     USA   michael.j@example.com  555-345-6789    1985-03-25
3       Texas     USA     emily.d@example.com  555-456-7890    1990-04-30
4     Florida     USA     david.w@example.com  555-567-8901    1982-05-10

  Gender Insurance_ID Primary_Physician Date_Of_Registration
0      M    INS123456   Dr. Alice Smith           2023-01-10
1      F    INS234567     Dr. Bob Brown           2023-02-15
2      M    INS345678   Dr. Carol White           2023-03-18
3      F    INS456789   Dr. David Green           2023-04-22
4      M    INS567890     Dr. Eve Black           2023-05-25

Physician Dimension:
   Unnamed: 0  Physician_ID   Physician_Name         Specialty  Phone_Number  \
0           0             1  Dr. Alice Smith  General Medicine  555-111-2222
1           1             2    Dr. Bob Brown        Cardiology  555-222-3333
2           2             3  Dr. Carol White       Orthopedics  555-333-4444
3           3             4  Dr. David Green         Neurology  555-444-5555
4           4             5    Dr. Eve Black       Dermatology  555-555-6666

                      Email
0  alice.smith@hospital.com
1    bob.brown@hospital.com
2  carol.white@hospital.com
3  david.green@hospital.com
4    eve.black@hospital.com

Department Dimension:
   Unnamed: 0  Department_ID   Department_Name    Location
0           0              1  General Medicine  Building A
1           1              2        Cardiology  Building B
2           2              3       Orthopedics  Building C
3           3              4         Neurology  Building D
4           4              5       Dermatology  Building E

Date Dimension:
   Unnamed: 0  Date_ID        Date  Day  Month  Quarter  Year
0           0        1  2023-01-10   10      1        1  2023
1           1        2  2023-02-15   15      2        1  2023
2           2        3  2023-03-18   18      3        1  2023
3           3        4  2023-04-22   22      4        2  2023
4           4        5  2023-05-25   25      5        2  2023

Treatment Dimension:
   Unnamed: 0 Treatment_Code      Treatment_Description
0           0           T001       Antiviral Medication
1           1           T002  Blood Pressure Medication
2           2           T003                    Casting
3           3           T004            Pain Management
4           4           T005           Topical Ointment

Diagnosis Dimension:
   Unnamed: 0 Diagnosis_Code Diagnosis_Description
0           0           D001                   Flu
1           1           D002          Hypertension
2           2           D003              Fracture
3           3           D004              Migraine
4           4           D005                  Acne

Medical Visit Fact Table:
   Unnamed: 0  Visit_ID  Patient_ID  Physician_ID  Date_ID  Department_ID  \
0           0         1           1             1        1              1
1           1         2           2             2        2              2
2           2         3           3             3        3              3
3           3         4           4             4        4              4
4           4         5           5             5        5              5

     Visit_Type Diagnosis_Code Treatment_Code  Visit_Cost  Insurance_Coverage
0  Consultation           D001           T001       150.0               100.0
1     Follow-up           D002           T002       200.0               150.0
2       Surgery           D003           T003      3000.0              2500.0
3     Emergency           D004           T004       500.0               400.0
4      Check-up           D005           T005       120.0               100.0

In [19]:
# Explore the data structure
print("Patient Dimension Structure:")
print(patient_dim.info())

print("\nPhysician Dimension Structure:")
print(physician_dim.info())

print("\nDepartment Dimension Structure:")
print(department_dim.info())

print("\nDate Dimension Structure:")
print(date_dim.info())

print("\nTreatment Dimension Structure:")
print(treatment_dim.info())

print("\nDiagnosis Dimension Structure:")
print(diagnosis_dim.info())

print("\nMedical Visit Fact Table Structure:")
print(medical_visit_fact.info())

Patient Dimension Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            5 non-null      int64
 1   Patient_ID            5 non-null      int64
 2   Patient_Name          5 non-null      object
 3   Address               5 non-null      object
 4   City                  5 non-null      object
 5   State                 5 non-null      object
 6   Country               5 non-null      object
 7   Email                 5 non-null      object
 8   Phone_Number          5 non-null      object
 9   Date_Of_Birth         5 non-null      object
 10  Gender                5 non-null      object
 11  Insurance_ID          5 non-null      object
 12  Primary_Physician     5 non-null      object
 13  Date_Of_Registration  5 non-null      object
dtypes: int64(2), object(12)
memory usage: 692.0+ bytes
None

Physician Dimension Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      5 non-null      int64
 1   Physician_ID    5 non-null      int64
 2   Physician_Name  5 non-null      object
 3   Specialty       5 non-null      object
 4   Phone_Number    5 non-null      object
 5   Email           5 non-null      object
dtypes: int64(2), object(4)
memory usage: 372.0+ bytes
None

Department Dimension Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5 non-null      int64
 1   Department_ID    5 non-null      int64
 2   Department_Name  5 non-null      object
 3   Location         5 non-null      object
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes
None

Date Dimension Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5 non-null      int64
 1   Date_ID     5 non-null      int64
 2   Date        5 non-null      object
 3   Day         5 non-null      int64
 4   Month       5 non-null      int64
 5   Quarter     5 non-null      int64
 6   Year        5 non-null      int64
dtypes: int64(6), object(1)
memory usage: 412.0+ bytes
None

Treatment Dimension Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             5 non-null      int64
 1   Treatment_Code         5 non-null      object
 2   Treatment_Description  5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes
None

Diagnosis Dimension Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             5 non-null      int64
 1   Diagnosis_Code         5 non-null      object
 2   Diagnosis_Description  5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes
None

Medical Visit Fact Table Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          5 non-null      int64
 1   Visit_ID            5 non-null      int64
 2   Patient_ID          5 non-null      int64
 3   Physician_ID        5 non-null      int64
 4   Date_ID             5 non-null      int64
 5   Department_ID       5 non-null      int64
 6   Visit_Type          5 non-null      object
 7   Diagnosis_Code      5 non-null      object
 8   Treatment_Code      5 non-null      object
 9   Visit_Cost          5 non-null      float64
 10  Insurance_Coverage  5 non-null      float64
dtypes: float64(2), int64(6), object(3)
memory usage: 572.0+ bytes
None

# Number 2: (5 points) Fact Table in python.

In [20]:

# Display structure and summary of the fact table
print("Medical Visit Fact Table Summary:")
print(medical_visit_fact.describe())

Medical Visit Fact Table Summary:
       Unnamed: 0  Visit_ID  Patient_ID  Physician_ID   Date_ID  \
count    5.000000  5.000000    5.000000      5.000000  5.000000
mean     2.000000  3.000000    3.000000      3.000000  3.000000
std      1.581139  1.581139    1.581139      1.581139  1.581139
min      0.000000  1.000000    1.000000      1.000000  1.000000
25%      1.000000  2.000000    2.000000      2.000000  2.000000
50%      2.000000  3.000000    3.000000      3.000000  3.000000
75%      3.000000  4.000000    4.000000      4.000000  4.000000
max      4.000000  5.000000    5.000000      5.000000  5.000000

       Department_ID   Visit_Cost  Insurance_Coverage
count       5.000000     5.000000            5.000000
mean        3.000000   794.000000          650.000000
std         1.581139  1242.449194         1041.633333
min         1.000000   120.000000          100.000000
25%         2.000000   150.000000          100.000000
50%         3.000000   200.000000          150.000000
75%         4.000000   500.000000          400.000000
max         5.000000  3000.000000         2500.000000

# Number 3. (10 points) Queries about: 

    ## 3.1.  Total insurance coverage per patient
    ## 3.2.  Total cost of treatment per patient

In [21]:
# 3.1
# Total INSURANCE COVERAGE per patient
# Group by patient and sum the insurance coverage
total_insurance_coverage = medical_visit_fact.groupby('Patient_ID')['Insurance_Coverage'].sum().reset_index()
total_insurance_coverage.columns = ['Patient_ID', 'Total_Insurance_Coverage']
print(total_insurance_coverage)

   Patient_ID  Total_Insurance_Coverage
0           1                     100.0
1           2                     150.0
2           3                    2500.0
3           4                     400.0
4           5                     100.0

In [24]:
# 3.2
# Total COST OF TREATMENT per patient
# Group by patient and sum the treatment cost
total_treatment_cost = medical_visit_fact.groupby('Patient_ID')['Visit_Cost'].sum().reset_index()
total_treatment_cost.columns = ['Patient_ID', 'Total_Treatment_Cost']
print(total_treatment_cost)

   Patient_ID  Total_Treatment_Cost
0           1                 150.0
1           2                 200.0
2           3                3000.0
3           4                 500.0
4           5                 120.0

# Number 4. (10 points) . Perform the merging of the following tables :

    ## 4.1. Medical visit with  patient details.
    ## 4.2. Medical visit  with date details.

In [27]:
# 4.1
# Medical visit with  patient details.

medical_visit_patient = pd.merge(medical_visit_fact, patient_dim, on='Patient_ID')
print(medical_visit_patient.head())

   Unnamed: 0_x  Visit_ID  Patient_ID  Physician_ID  Date_ID  Department_ID  \
0             0         1           1             1        1              1
1             1         2           2             2        2              2
2             2         3           3             3        3              3
3             3         4           4             4        4              4
4             4         5           5             5        5              5

     Visit_Type Diagnosis_Code Treatment_Code  Visit_Cost  ...         City  \
0  Consultation           D001           T001       150.0  ...  Los Angeles
1     Follow-up           D002           T002       200.0  ...     New York
2       Surgery           D003           T003      3000.0  ...      Chicago
3     Emergency           D004           T004       500.0  ...      Houston
4      Check-up           D005           T005       120.0  ...        Miami

        State Country                   Email  Phone_Number Date_Of_Birth  \
0  California     USA    john.doe@example.com  555-123-4567    1980-01-15
1    New York     USA  jane.smith@example.com  555-234-5678    1975-02-20
2    Illinois     USA   michael.j@example.com  555-345-6789    1985-03-25
3       Texas     USA     emily.d@example.com  555-456-7890    1990-04-30
4     Florida     USA     david.w@example.com  555-567-8901    1982-05-10

  Gender Insurance_ID Primary_Physician Date_Of_Registration
0      M    INS123456   Dr. Alice Smith           2023-01-10
1      F    INS234567     Dr. Bob Brown           2023-02-15
2      M    INS345678   Dr. Carol White           2023-03-18
3      F    INS456789   Dr. David Green           2023-04-22
4      M    INS567890     Dr. Eve Black           2023-05-25

[5 rows x 24 columns]

In [28]:
# 4.2
# Medical visit  with date details.
medical_visit_date = pd.merge(medical_visit_fact, date_dim, on='Date_ID')
print(medical_visit_date.head())

   Unnamed: 0_x  Visit_ID  Patient_ID  Physician_ID  Date_ID  Department_ID  \
0             0         1           1             1        1              1
1             1         2           2             2        2              2
2             2         3           3             3        3              3
3             3         4           4             4        4              4
4             4         5           5             5        5              5

     Visit_Type Diagnosis_Code Treatment_Code  Visit_Cost  Insurance_Coverage  \
0  Consultation           D001           T001       150.0               100.0
1     Follow-up           D002           T002       200.0               150.0
2       Surgery           D003           T003      3000.0              2500.0
3     Emergency           D004           T004       500.0               400.0
4      Check-up           D005           T005       120.0               100.0

   Unnamed: 0_y        Date  Day  Month  Quarter  Year
0             0  2023-01-10   10      1        1  2023
1             1  2023-02-15   15      2        1  2023
2             2  2023-03-18   18      3        1  2023
3             3  2023-04-22   22      4        2  2023
4             4  2023-05-25   25      5        2  2023

# Number 5. (5 points) Perform the normalizaton in the patient table.

In [41]:
# Display the original patient table
print("Original Patient Table:")
print(patient_dim.head())

Original Patient Table:
   Unnamed: 0  Patient_ID     Patient_Name        Address         City  \
0           0           1         John Doe   123 Maple St  Los Angeles
1           1           2       Jane Smith    456 Oak Ave     New York
2           2           3  Michael Johnson  789 Pine Blvd      Chicago
3           3           4      Emily Davis   321 Cedar Ln      Houston
4           4           5     David Wilson   654 Birch Dr        Miami

        State Country                   Email  Phone_Number Date_Of_Birth  \
0  California     USA    john.doe@example.com  555-123-4567    1980-01-15
1    New York     USA  jane.smith@example.com  555-234-5678    1975-02-20
2    Illinois     USA   michael.j@example.com  555-345-6789    1985-03-25
3       Texas     USA     emily.d@example.com  555-456-7890    1990-04-30
4     Florida     USA     david.w@example.com  555-567-8901    1982-05-10

  Gender Insurance_ID Primary_Physician Date_Of_Registration
0      M    INS123456   Dr. Alice Smith           2023-01-10
1      F    INS234567     Dr. Bob Brown           2023-02-15
2      M    INS345678   Dr. Carol White           2023-03-18
3      F    INS456789   Dr. David Green           2023-04-22
4      M    INS567890     Dr. Eve Black           2023-05-25

In [42]:
# Step 1: Create the Contact Info Table
contact_info = patient_dim[['Patient_ID', 'Email', 'Phone_Number']].drop_duplicates().reset_index(drop=True)

# Step 2: Create the Patient Address Table
patient_address = patient_dim[['Patient_ID', 'Address', 'City', 'State', 'Country']].drop_duplicates().reset_index(drop=True)

# Step 3: Create the Normalized Patient Table by removing redundant columns
patient_normalized = patient_dim.drop(['Email', 'Phone_Number', 'Address', 'City', 'State', 'Country'], axis=1)

# Display the corrected normalized patient table
print("\nCorrected Normalized Patient Table:")
print(patient_normalized.head())

# Optional: display the contact and address tables to ensure correctness
print("\nContact Info Table:")
print(contact_info.head())

print("\nPatient Address Table:")
print(patient_address.head())

Corrected Normalized Patient Table:
   Unnamed: 0  Patient_ID     Patient_Name Date_Of_Birth Gender Insurance_ID  \
0           0           1         John Doe    1980-01-15      M    INS123456
1           1           2       Jane Smith    1975-02-20      F    INS234567
2           2           3  Michael Johnson    1985-03-25      M    INS345678
3           3           4      Emily Davis    1990-04-30      F    INS456789
4           4           5     David Wilson    1982-05-10      M    INS567890

  Primary_Physician Date_Of_Registration
0   Dr. Alice Smith           2023-01-10
1     Dr. Bob Brown           2023-02-15
2   Dr. Carol White           2023-03-18
3   Dr. David Green           2023-04-22
4     Dr. Eve Black           2023-05-25

Contact Info Table:
   Patient_ID                   Email  Phone_Number
0           1    john.doe@example.com  555-123-4567
1           2  jane.smith@example.com  555-234-5678
2           3   michael.j@example.com  555-345-6789
3           4     emily.d@example.com  555-456-7890
4           5     david.w@example.com  555-567-8901

Patient Address Table:
   Patient_ID        Address         City       State Country
0           1   123 Maple St  Los Angeles  California     USA
1           2    456 Oak Ave     New York    New York     USA
2           3  789 Pine Blvd      Chicago    Illinois     USA
3           4   321 Cedar Ln      Houston       Texas     USA
4           5   654 Birch Dr        Miami     Florida     USA